@import url(https://fonts.googleapis.com/css2?family=Libre+Baskerville);

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

body{
  font-family: 'Libre Baskerville', serif;
  background-color: #fcf0f3;
  font-size: 16px;
  margin:0;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
}

/* unvisited link */
a:link{
  color: black;
}
/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

footer {
   padding: 0;
   margin-top: auto;
   color: black;
   top:0;
   bottom:0;
   width:100%;
   height:auto;   /* Height of the footer */
}

html, body {
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

li {
margin-left: 0;
margin-right: 10%;
margin-top: .5em;
margin-bottom: .5em;
}